<!DOCTYPE html>
<html>
	<head>
		<title> contact </title>
		<link rel="stylesheet" href = "style.css">
		<style>
			body {
				background-color: red;
			}
			button {
				width: 120px;
				background-color: green;
			}
			input {
				margin-left: 120px;
				margin-top: 120px;
			}
		</style>
	</head>
	<body>
		<nav>
		 <ul id='navbar'>
		    <li><a href="index.html">Home</a></li>
		    <li><a href="about.html">About</a></li>
		    <li><a href="contact.html" >Contact</a></li>
		</ul>
		</nav>
		
	<form>
		<input style="" type="text" placeholder="Full Name" name="name">
		<button>submit</button>
	</form>

	<table>
			<tr>
				<th>Last Name</th>
				<th>First Name</th>
				<th>Location</th>
				<th>Mobile?</th>
			</tr>
			<tr>
				<td>Smith</td>
				<td>Jose</td>
				<td>Hialeah</td>
				<td>Y</td>
			</tr>
			<tr>
				<td>Jones</td>
				<td>Chris</td>
				<td>Coral Gables</td>
				<td>N</td>
			</tr>
			<tr>
				<td>Sal</td>
				<td>Moses</td>
				<td>Miramar</td>
				<td>Y</td>
			</tr>
		</table>
		
	</body>

	
</html>