$color: orange;

  * {
  margin: 0;
 }

   @media (min-width: 500px) {
	  body {
	      background-color: green;
	  }
	  }
	  @media (max-width: 499px) {
	  body {
	      background-color: yellow;
	  }
  }

body {
  font-family: 'Open Sans', sans-serif;
  
}
nav{

	ul{
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		width: 100%;
		background-color: #e0ebe8;
		position: fixed;
	}
	li{
			display: flex;
			
			 margin:7vw;
			  margin-bottom: 15px;
			  margin-top: 25px;
			  font-size: 18px;;
		}

}

h1 {
	color:$color; 
	text-align:center
}